.website-container {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-container-heading {
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 4rem;
  padding: 5px 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--green--);
  color: black;
  font-weight: 600;
  font-family: var(--Urbanist-font);
  letter-spacing: 1px;
  font-size: 18px;
  transition: transform 0.2s linear;
}

.btn:hover {
  transform: translateY(10%);
}
.website-container .website-card {
  width: auto;
  border: 2px solid white;
  height: 320px;
  border-radius: 40px;
  /* padding: 10px; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 70% 30%;
  margin: 0 20px;
}

.website-container .website-card .web-image {
  width: 220px;
  padding: 30px;
  height: 150px;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-container .website-card .web-image img {
  width: 100%;
  margin-top: 2px;
  object-fit: contain;
}

.website-container .website-card .web-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

.web-desc h2 {
  font-size: 20px;
  margin-top: 2px !important;
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}

.web-desc p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.web-desc .stars {
  margin: -10px 20px;
  padding-bottom: 20px;
  margin-bottom: 1 rem !important;
  display: flex;
  justify-content: space-between !important;
}

.star-color {
  color: var(--green--);
  padding: 0 !important;
  font-size: 18px;
}

.circle {
  position: absolute;
  background-color: #242424;
  bottom: -2.5rem;
  left: 7rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  font-size: 28px;
  color: var(--green--);
}
