.main {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Anek Gujarati", sans-serif; /* Font fallback */
  color: var(--green--);
  padding-top: 1rem;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  line-height: 0px;
  margin-top: 0rem;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}

.ploygon3 {
  margin-top: 2.5rem;
}
.ploygon4 {
  margin-top: -2rem;
}
.ploygon2 {
  margin-top: 7rem;
}
.ploygon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  width: 110px;
  height: 95px;
  background-color: var(--green--);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.ploygon1 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  width: 170px;
  background-color: var(--dark--);
  height: 100px;
}

.heading {
  font-size: 45px;
  letter-spacing: 3px;
}

.text {
  color: var(--light--);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

.orderbutton {
  padding: 5px 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--green--);
  color: black;
  font-weight: 600;
  font-family: var(--Urbanist-font);
  letter-spacing: 1px;
  font-size: 18px;
  transition: transform 0.2s linear;
  cursor: pointer;
}
.orderbutton:hover {
  transform: translateY(10%);
}
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.buttons:nth-child(2) {
  margin-top: 4rem;
}
.services {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--green--);
}

@media screen and (max-width: 320px) {
  .heading {
    font-size:  18px !important;
    line-height: 1.3;
    margin: 1px;
  }
}
/* Media Screen query */
@media screen and (max-width: 375px){
  .right {
    display: none;
  }

  .left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    line-height: 30px;
    width: 80%;
  }
  .heading {
    font-size:  22px;
    line-height: 1.3;
    margin: 1px;
    text-align: center;
  }

  .text {
    color: var(--light--);
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
  }

  .orderbutton {
    margin-left: 0;
    padding: 3px 15px;
    font-size: 15px;
    margin-top: 1rem;
  }
  .or{
    margin-top: 0.5rem;
    font-size: 20px !important;
  }

  .services{
    margin-top: -2.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: -0.6rem;
  }

  .services p {
    font-size: 15px;
  }

}
@media screen and  (min-width: 375px) and (max-width: 600px){
  .right {
    display: none;
  }

  .left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    line-height: 30px;
    width: 80%;
  }
  .heading {
    font-size:  22px;
    line-height: 1.3;
    margin: 1px;
    text-align: center;
  }
  .text {
    color: var(--light--);
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }
  .orderbutton {
    margin-left: 0;
    padding: 3px 15px;
    font-size: 15px;
  }
  .or{
    font-size: 15px !important;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-top: -0.6rem;
  }
  
  .services p {
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px){
  .main {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    line-height: 30px;
    width: 70%;
  }
  .right {
    display: none;
  }

  .orderbutton {
    margin-left: 0;
    padding: 3px 15px;
    font-size: 15px;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  .services p {
    font-size: 22px;
  }

  .heading {
    font-size:  40px;
    line-height: 1.3;
    margin: 1px;
    text-align: center;
  }

  .text {
    color: var(--light--);
    font-size: 25px;
    line-height: 1;
    text-align: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 900px){
  .main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right{
    justify-content: start;
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }

  .or{
    font-size: 18px !important;
  }
  .services p {
    font-size: 18px;
  }

  .heading {
    font-size:  25px;
    line-height: 1.3;
    margin: 1px;
  }

  .text {
    color: var(--light--);
    font-size: 18px;
    line-height: 1;
    width: 80%;
  }
  .ploygon3 {
    margin-top: 1.3rem;
  }
  .ploygon4 {
    margin-top: -2rem;
  }
  .ploygon2 {
    margin-top: 4rem;
  }

  .ploygon {
    width: 65px;
    height: 55px;
    margin-top: 12px;
    padding: 5px;
  }
  .ploygon1 {
    width: 68px;
    height: 60px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right{
    justify-content: start;
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }

  .or{
    font-size: 18px !important;
  }
  .services p {
    font-size: 20px;
  }

  .heading {
    font-size:  30px;
    line-height: 1.3;
    margin: 1px;
  }

  .text {
    color: var(--light--);
    font-size: 20px;
    line-height: 1;
  }
  .ploygon3 {
    margin-top: 1.3rem;
  }
  .ploygon4 {
    margin-top: -2rem;
  }
  .ploygon2 {
    margin-top: 4rem;
  }

  .ploygon {
    width: 90px;
    height: 80px;
    margin-top: 12px;
    padding: 5px;
  }
  .ploygon1 {
    width: 90px;
    height: 80px;
  }
  
}