.OrderNow-container {
  margin: 0 6rem;
  padding-top: 6rem;
}

.button-container-center {
  display: flex;
  justify-content: center !important;
  margin-top: 2rem;
}

.search {
  display: flex;
  width: 100%;
  height: 40x;
  border: 2px solid white;
  border-radius: 30px;
}

.search-icon {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.search-icon hr {
  height: 40px;
  margin-left: 12px !important;
  margin: 0;
  rotate: 180deg;
}

.search-bar {
  padding-top: 0;
}

.search-bar input {
  width: 900px;
  background-color: transparent;
  border: none;
  height: 100%;
  outline: none;
  padding: 0 0.5rem;
  color: white;
  font-size: 18px;
}

.search-bar input::placeholder {
  color: rgb(186, 186, 186);
}
/* 
.filter {
  width: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  background-color: var(--green--);
}

.filter .filter-icon {
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: all 0.2s linear;
}

.filter-icon:hover {
  color: white;
} */

.OrderNow-container marquee {
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  /* border: 2px solid white; */
  border-radius: 15px;
  background-color: #d9d9d9;
}

.marquee-image {
  height: 150px;
  margin: 0.5rem;
  object-fit: contain;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.button-container a {
  text-decoration: none;
}

.button-container button {
  text-decoration: none;
  color: black;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 0 10px;
  margin: 0 30px 0 0;
  border-radius: 15px;
  border: none;
  background-color: #d9d9d9;
  font-weight: 800;
  font-family: var(--Urbanist-font);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.bg-green {
  background-color: var(--green--) !important;
}
.button-container button:hover {
  transform: scale(1.03);
}

.button-container button p {
  margin: 8px;
  margin-left: 15px !important;
  text-decoration: none;
}

.button-container button img {
  width: 25px;
}

/*------------------------------------ Responsive CSS  ----------------------------------*/

@media screen and (max-width: 768px) {
  .OrderNow-container {
    margin: 0 0.5rem;
    padding-top: 0.5rem;
  }
  .search {
    margin-left: 25px !important;
    height: 30px;
    width: 100%;
  }
  .search-bar input {
    width: 270px !important;
    font-size: 12px;
  }
  .search-icon hr {
    height: 30px !important;
  }

  .button-container-center {
    margin-top: 1rem;
  }

  .OrderNow-container marquee {
    display: flex;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 95%;
    height: auto;
  }

  .marquee-image {
    height: 120px !important;
  }

  .button-container {
    margin: 0 0 1rem 0.5rem;
    display: flex;
  }

  .button-container button {
    font-size: 12px;
    align-items: center;
    padding: 0 5px;
    margin: 5px;
  }

  .button-container button p {
    margin: 8px;
    margin-left: 10px !important;
    text-decoration: none;
  }

  .button-container button img {
    width: 20px;
  }

  .viewMore.btn {
    margin: 2rem !important;
    padding: 2px 20px;
    font-size: 16px;
  }
}
