@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap");

:root {
  --green--: #2FF360;
  --dark--: #242122;
  --light--: #F8F7F4;
}

.nav-barL {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.link-decoM {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative; /* Add position relative */
}

.link-decoM.active::after {
  content: ''; /* Add a pseudo-element */
  position: absolute;
  left: 50%; /* Position from the center */
  transform: translateX(-50%); 
  bottom: 2px; /* Adjust as needed */
  width: 100%; /* Initially set width to 0 */
  height: 3px; /* Thickness of the underline */
  background-color: #2FF360;
  border-radius: 5px; /* Add border-radius for curved edges */
  transition: width 0.2s ease-in-out; /* Add smooth transition */
}

.link-decoM.active:hover::after {
  width: 0; /* Extend the underline on hover */
}
.DcodeM {
  width: 12rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

.link-decoM.active {
  color: #2FF360;
}

/* -----------------small screen size css---------------- */
.nav-barpp {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: flex-start;
  display: none;
}

.Dcode {
  width: 10rem;
  align-self: flex-start;
}

.icons {
  font-size: 2rem;
  margin-top: 1rem;
  color: #F8F7F4;
}

.icons:hover {
  color: #2FF360;
}

.navlinks {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 8rem;
  height: 10%;
  padding-top: 1rem;
  padding-left: 2rem;
  box-shadow: 0 1px 3px rgba(204, 204, 204, 0.411);
  border-radius: 5px;
}

.link-deco {
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 1rem;
  font-family: 'Anek Gujarati';
  color: #F8F7F4;
}

.link-deco:hover {
  color: #2FF360;
}
.link-deco.active{
  color: #2FF360;
}
.hamclick {
  display: flex;
  flex-direction: column;
}

/* --------------media queries---------------*/
@media only screen and (max-width: 1300px) {
  .DcodeM {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .DcodeM {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  .DcodeM {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .DcodeM {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 10rem;
  }

  .link-decoM {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .DcodeM {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 8rem;
  }

  .link-decoM {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-barL {
    display: none;
  }

  .nav-barpp {
    display: flex;
  }
}

@media only screen and (max-width: 576px) {
  .nav-barpp {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .Dcode {
    width: 10rem;
  }

  .icons {
    font-size: 1.5rem;
  }

  .navlinks {
    width: 6rem;
  }

  .link-deco {
    font-size: 16px;
  }
}
