.maincontainer{
   color: var(--light--);
   font-family: 'Anek Gujarati', sans-serif;
}
.heading{
    font-size: 50px;
    font-weight: 600;
}
.polygon{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    height: 137px;
    width: 120px;
    background-color: var(--green--);
    display: flex;
    justify-content: center;
    align-items: center;

}
.polygon1{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: var(--dark--);
    height: 125px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    width: 100px;
    height: 115px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: var(--dark--);
}
.img1 img{
    object-fit: cover;
}

.first{
    display: flex;
}

.first>div{
    margin-left: 5.5rem;
}
.firstleft{
    width: 35%;
}
.firstright{
    width: 60%;
}
.mainpolygon{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}
.des1{
    font-size: 30px;
    width: 60%;
    line-height: 30px;
}

.text{
    font-size: 30px;
    color: var(--green--);
    margin-bottom: 0.5rem;
}


.second{
    margin-top: 5rem;
    display: flex;
    justify-content: center;


}

.secondleft{
    width: 50%;
    margin-left: 23.5rem;

}

.secondright{
    display: flex;
    flex-direction: column;
    width: 45%;

    margin-left: 0rem;
}

.text1{
    font-size: 30px;
    color: var(--green--);
    margin-top: 0.5rem;
}
.des2{
    font-size: 30px;
    line-height: 30px;
}

.diagonaline{
    width: 310px;
    height: 4px; /* Adjust thickness of the line */
    background-color: var(--green--);
    transform: rotate(41deg); /* Rotate the line */
    position: relative;
    left: 200px; /* Adjust position as needed */
    top: 373px; /* Adjust position as needed */
}
.diagonaline2{
    width: 300px;
    height: 4px; /* Adjust thickness of the line */
    background-color: var(--green--);
    transform: rotate(39deg); /* Rotate the line */
    position: relative;
    left: 750px; /* Adjust position as needed */
    top: 330px; /* Adjust position as needed */
}
.diagonaline1{
    width: 300px;
    height: 4px; /* Adjust thickness of the line */
    background-color: var(--green--);
    transform: rotate(-41deg); /* Rotate the line */
    position: relative;
    left: 487px; /* Adjust position as needed */
    top: 323px; /* Adjust position as needed */
}
.orderbutton {
    padding: 15px 20px;
    width: 200px; /* Adjusted button width for better reliability */
    font-size: 25px;
    font-weight: 600;
    background-color: var(--green--);
    color: var(--dark--);
    border-radius: 10px;
    border: none;
    margin-bottom: 5rem;
}