<<<<<<< HEAD
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}
=======
>>>>>>> a0d9c03d0605ba26981d9ddad84b86f70ec40dd0
